# APP
PORT=3000
NODE_ENV=development

# DATABASE
DATABASE_URL=postgresql://postgres:changeme@localhost:5432/backend

# JWT
JWT_ACCESS_TOKEN=replace-me
JWT_REFRESH_TOKEN=replace-me
JWT_ACCESS_TOKEN_EXPIRE=15m
JWT_REFRESH_TOKEN_EXPIRE=7d

# OPTIONAL SUPER ADMIN BOOTSTRAP
# SEED_SUPER_ADMIN_EMAIL=admin@example.com
# SEED_SUPER_ADMIN_PASSWORD=change-this-password
# SEED_SUPER_ADMIN_FULL_NAME=Super Administrator

# CACHE
CACHE_TTL=60
CACHE_REDIS_URL=redis://localhost:6379
